OPENAI_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_PREFER=true
ELEVENLABS_AUTO_CLONE=false
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_VOICE_ID=
ELEVENLABS_USE_STS=true
ELEVENLABS_STS_MODEL_ID=eleven_multilingual_sts_v2
OPENAI_GUIDE_VOICE=alloy
