OPENAI_API_KEY=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

ELEVENLABS_API_KEY=3b8f2a3ab674b20fa957feb9aabd43dc927262e419d82e75296347fd5196f8e6
ELEVENLABS_PREFER=true
ELEVENLABS_AUTO_CLONE=false
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_VOICE_ID=CSedJ1m9VQtItZsWx78p
ELEVENLABS_USE_STS=true
ELEVENLABS_STS_MODEL_ID=eleven_multilingual_sts_v2
OPENAI_GUIDE_VOICE=alloy